# OS files
.DS_Store
Thumbs.db
db.sqlite3-journal

# Editor/IDE
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Python/Django
__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv
env/
venv/
ENV/
db.sqlite3
media/
staticfiles/
*.log

# Node/Frontend
node_modules/
dist/
dist-ssr/
.vite/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
.eslintcache

# Vercel
.vercel

# Misc
.DS_Store
*.seed
*.pid
*.orig
*.bak
